services:
  api:
    image: school:latest
    container_name: api
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
      # Java 25 Optimizations: Enable Class Data Sharing (CDS) for a fast startup
      - BPL_JVM_CDS_ENABLED=true
      # Configure the health-checker binary
      - THC_PORT=8080
      - THC_PATH=/actuator/health
    healthcheck:
      test: ["CMD", "/workspace/health-check"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18-alpine
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5

