spring:
  application:
    name: school
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # Options: validate, update, create, create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8081/realms/school
  config:
    import:
      - optional:file:./.env[.properties]

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,env,mappings"
  endpoint:
    health:
      probes:
        enabled: true # Required for healthcheck/readiness endpoints
    env:
      # Use "always" for dev to verify Docker variables; Change to "never" for production
      show-values: always
